<div class="results">
<% @results.each do |result| %>
<div>
  <%= result["name"]%>
</div>
<div>
  <%= result["email"] %>
</div>
<div>
  <%= result["suburb"] %>
</div>
<div>
  <%= result["bio"] %>
</div>
<div>
  <%= result["street_address"] %>
</div>
<hr>
<%end%>

</div>
