<form action="/carer_edit<%= current_carer %>" method="post">


Core info
  <label>name </label><input name="name"type="text" value="<%=@carer.name %>"/>
    <label>email</label><input name="email"type="text" value="<%=@carer.email%>"/>
    <label>mobile number</label><input name="mobile_number"type="text" value="<%=@carer.mobile_number %>"/>
  <label>Profile Picture </label><input name="img_url"type="url" value="<%=@carer.img_url %>"/>
</div>

<div class="">
    <label>street address</label><input name="street_address"type="text" value="<%=@carer.street_address %>"/>
    <label>Suburb</label><input name="suburb"type="text" value="<%=@carer.suburb %>"/>
    <label>Bio</label><input name="bio"type="text" value="<%=@carer.bio %>"/>
    <label>blue card</label><input name="blue_card"type="checkbox" value="<%=@carer.blue_card %>"/>
</div>

<div>
  Age Groups Covered
  <ul>0 - 1<input name="children_age_0to1"type="checkbox" value="<%=@carer.children_age_0to1%>"/></ul>
  <ul>2 - 3<input name="children_age_2to3"type="checkbox" value="<%=@carer.children_age_2to3%>"/></ul>
  <ul>4 - 5<input name="children_age_4to5"type="checkbox" value="<%=@carer.children_age_4to5%>"/></ul>
  <ul>6 - 8<input name="children_age_6to8"type="checkbox" value="<%=@carer.children_age_6to8%>"/></ul>
  <ul>9 - 12<input name="children_age_9to11"type="checkbox" value="<%=@carer.children_age_9to11%>"/></ul>
  <ul>12+<input name="children_age_12plus"type="checkbox" value="<%=@carer.children_age_12plus%>"/></ul>
</div>
  <button>Change Details</button>
</form>
